
KeychainFlashLight/fp-info-cache
kicad-7.0.7-x86_64.exe
todo.txt.bak
*.zip
*.lck
*.lck
*.tmp
KeychainFlashLightAdvanced/\#auto_saved_files\#
~$Cad7 Workshop ESE-day (Advanced).docx
KeychainFlashLightAdvanced/_autosave-KeychainFlashLightAdvanced.kicad_pcb
KeychainFlashLightAdvanced/fp-info-cache
KeychainFlashLightIntroduction/fp-info-cache
*.bak
Finished Workshops (review form or cheatsheet)/KeychainFlashLightIntroduction (Finished)/fp-info-cache
